.project-container {
  display: flex;
  margin-top: 2rem;
  img {
    width: 10rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 15px;
    border: solid rgb(118, 159, 247);
  }

  div {
    margin-left: 2rem;
    width: 25rem;
    .tags-container {
      display: flex;
      gap: 10px;
      margin-top: 1rem;
      margin-left: 0;

      .tag {
        background-color: rgb(67, 208, 194, 0.2);
        color: rgb(67, 208, 194);
        font-weight: 400;
        font-size: small;
        border-radius: 50px;
        padding: 0.3rem 1rem;
      }
    }
  }
}

.experience-container {
  display: flex;
  margin-top: 2rem;
  .dates {
    width: 8rem;
  }
  .experience-info-container {
    width: 30rem;
    padding-left: 4.4rem;
  }
  .tags-container {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-left: 0;

    .tag {
      background-color: rgb(67, 208, 194, 0.2);
      color: rgb(67, 208, 194);
      font-weight: 400;
      font-size: small;
      border-radius: 50px;
      padding: 0.3rem 1rem;
    }
  }
}
