.project-container {
  display: flex;
  margin-top: 2rem;
  img {
    width: 10rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 15px;
    border: solid rgb(118, 159, 247);
  }

  div {
    margin-left: 2rem;
    width: 25rem;
    .tags-container {
      display: flex;
      gap: 10px;
      margin-top: 1rem;
      margin-left: 0;

      .tag {
        background-color: rgb(67, 208, 194, 0.2);
        color: rgb(67, 208, 194);
        font-weight: 400;
        font-size: small;
        border-radius: 50px;
        padding: 0.3rem 1rem;
      }
    }
  }
}

.experience-container {
  display: flex;
  margin-top: 2rem;
  .dates {
    width: 8rem;
  }
  .experience-info-container {
    width: 30rem;
    padding-left: 4.4rem;
  }
  .tags-container {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-left: 0;

    .tag {
      background-color: rgb(67, 208, 194, 0.2);
      color: rgb(67, 208, 194);
      font-weight: 400;
      font-size: small;
      border-radius: 50px;
      padding: 0.3rem 1rem;
    }
  }
}

.experience-container:hover {
  background: rgb(221, 255, 252, 0.1);
  border-radius: 20px;
  padding: 1rem;
  border: solid 1px rgba(157, 255, 247, 0.1);
}

//This media query is for Large Laptops with sizes between 1440px and 1920px
@media (min-width: 1440px) and (max-width: 1919px) {
  .experience-container {
    display: flex;
    margin-top: 2rem;
    .dates {
      width: 10rem;
    }
    .experience-info-container {
      width: 32rem;
      padding-left: 3.5rem;
    }
  }
}

//This media query is for smaller laptops with sizes between 1024px and 1440px
@media (min-width: 1024px) and (max-width: 1439px) {
  .experience-container {
    display: block;
    margin-top: 4rem;
    .experience-info-container {
      width: auto;
      padding: 0;
    }
  }

  .project-container {
    display: block;
    margin-top: 4rem;
    div {
      width: auto;
      margin: 0;
    }
  }
}

@media (min-width: 425px) and (max-width: 1023px) {
  .experience-container {
    display: block;
    margin-top: 4rem;

    .dates {
      width: auto;
    }
    .experience-info-container {
      width: auto;
      padding: 0;
    }
  }

  .project-container {
    display: block;
    margin-top: 4rem;
    div {
      width: auto;
      margin: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .experience-container {
    display: block;
    margin-top: 4rem;

    .dates {
      width: auto;
    }
    .experience-info-container {
      width: auto;
      padding: 0;
    }

    .tags-container {
      display: flex;
      flex-direction: column;
      .tag {
        width: fit-content;
      }
    }
  }

  .project-container {
    display: block;
    margin-top: 4rem;
    div {
      width: auto;
      margin: 0;
      .tags-container {
        display: flex;
        flex-direction: column;
        .tag {
          width: fit-content;
        }
      }
    }
  }
}
